NEXT_PUBLIC_API_URL=http://localhost:12000
NEXT_PUBLIC_API_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_REDIRECT_URI=http://localhost:80/callback

NEXT_PUBLIC_FLAGSMITH_ENVIRONMENT_KEY=your-flagsmith-environment-key
NEXT_PUBLIC_FLAGSMITH_API_URL=your-flagsmith-api-url